.hl-cmd-user-root {
  background: var(--destructive-bg-color);
  color: var(--destructive-fg-color);
}
.hl-cmd-task-remote {
  background: var(--accent-purple);
  color: var(--destructive-fg-color);
}

tab.needs-attention {
  background: var(--accent-bg-color);
}
tab.needs-attention indicator {
  background: #00000000;
}

.terminal {
  padding: 8px;
}

.headbox {
  padding-left: 4px;
  padding-right: 4px;
}
