.hl-cmd-user-root {
  background: var(--destructive-bg-color);
}
.hl-cmd-task-remote {
  background: var(--accent-purple);
}

tab.needs-attention {
  background: var(--accent-bg-color);
}
tab.needs-attention indicator {
  background: #00000000;
}

